<div class="create-wrapper" >
    <h1 mat-dialog-title>Création d'un {{data.title}}</h1>
    <form #createForm="ngForm">
        <div mat-dialog-content>
            <mat-form-field class="field form-group">
                <mat-label>Nom du nouveau {{data.title}}</mat-label>
                <input matInput type="text" autofocus pattern="[a-z A-Z 0-9 \- \_ àéèêù]*" class="form-control" placeholder="Nom" name="name" [(ngModel)]="data.name" required/>
                <mat-hint>Le nom peut contenir des lettres, des chiffres ainsi que les caractères '-' et '_'.</mat-hint>
            </mat-form-field>
            <mat-form-field class="form-group" *ngIf="data.title === 'fichier'">
                <mat-label>Texte</mat-label>
                <textarea matInput type="text" class="form-control" placeholder="Texte" name="text" [(ngModel)]="data.text">Texte</textarea>
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <button mat-button color="accent" [disabled]="!createForm.form.valid" [mat-dialog-close]="data" cdkFocusInitial>Valider</button>
            <button mat-button (click)="close()">Annuler</button>
        </div>
    </form>
</div>