.create-wrapper {
	max-width: 440px;
	min-width: 300px;
	
	.mat-dialog-content {
		display: flex;
		flex-direction: column;

		.field {
			height: 90px;
		}
	}
  
	.mat-dialog-actions {
		justify-content: flex-end;
	}
}