<mat-drawer-container>
    <!-- Sidebar -->
    <mat-drawer class="sidenav" mode="side" opened>
        <app-sidebar></app-sidebar>
    </mat-drawer>

    <!-- Page content -->
    <mat-drawer-content class="content">
        <!-- Bar on the top for navigation -->
        <div id="bar">
            <mat-icon (click)="goBack()">arrow_back</mat-icon>
            <mat-icon (click)="currentRoute = 'root'">home</mat-icon>
            <input id="pathname" value="{{pathname()}}" disabled/>

            <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Ajouter un menu">
                <mat-icon>add</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openCreateDialog('folder')">
                    <span>Créer un nouveau dossier</span>
                </button>
                <button mat-menu-item (click)="openCreateDialog('file')">
                    <span>Créer un nouveau fichier</span>
                </button>
            </mat-menu>
        </div>
                    
        <!-- Grid for display files and folders -->
        <mat-grid-list cols="5" gutterSize="5px">
            <ng-container *ngFor="let element of contains[currentRoute]">
                <mat-grid-tile (dblclick)="open(element)" [ngClass]="(elements[element].id.substr(0,1) == 'd' ? 'folder' : 'file') + ' ' + elements[element].id">
                    <mat-icon>{{elements[element].id.substr(0,1) == 'd' ? 'folder' : 'insert_drive_file'}}</mat-icon>
                    <mat-grid-tile-footer>{{elements[element].name}}</mat-grid-tile-footer>
                </mat-grid-tile>
            </ng-container>
        </mat-grid-list>

    </mat-drawer-content>
</mat-drawer-container>
