mat-drawer-container {
    height: 100%;

    .sidenav {
        width: 200px;
        background-color: #fafafa;
    }

    .content {
        background-color: #ffffff;

        #bar {
            display: inline;

            .mat-icon,
            button {
                cursor: pointer;
                vertical-align: bottom;
                margin: 0 5px;
            }

            input {
                width: 70%;
            }
        }

        mat-grid-list {
            margin: 20px;

            .mat-icon {
                font-size: 50px;
            }
        }

        mat-grid-tile {
            border-radius: 5%;
            background-color: silver;

            &:hover {
                cursor: pointer;
                background-color: grey;
            }
        }
    }
}