<div id="app-wrapper">
	<div id="app-header">
		<app-header></app-header>
	</div>
	<div id="app-content">
		<router-outlet></router-outlet>
	</div>
	<div id="app-footer">
		<app-footer></app-footer>
	</div>
</div>