#app-wrapper {
	height: 100%;
	overflow: hidden;

	#app-header {
		position: fixed;
		top: 0;
		height: 65px;
		width: 100%;
	}

	#app-content {
		height: calc(100% - (65px + 25px));
		margin-top: 65px;
		margin-bottom: 25px;
	}

	#app-footer {
		position: fixed;
		bottom: 0;
		height: 25px;
		width: 100%;
	}
}
