<header>    
    <mat-toolbar color="primary">
        <span class="logo" routerLink="/accueil" matTooltip="Retour vers l'accueil de File Explorer"><img src="assets/logo.png"></span>
        <span>File Explorer - Votre explorateur de fichier</span>
    </mat-toolbar>
</header>