@import '~@angular/material/theming';
@include mat-core();


$file-explorer-primary: mat-palette($mat-indigo);
$file-explorer-accent: mat-palette($mat-pink, A200, A100, A400);
$file-explorer-warn: mat-palette($mat-red);

$file-explorer-theme: mat-light-theme(
    $file-explorer-primary,
    $file-explorer-accent,
    $file-explorer-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($file-explorer-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}